@media (max-width: 575.98px) {
  .hero-middle {
    display: none;
  }
  .nav-middle {
    display: none;
  }
  .nav-right {
    width: 100%;
  }
  .nav-right img {
    width: 12%;
  }
  .menu {
    display: block;
    float: right;
  }

  .hero-right {
    width: 90%;
    flex-direction: column-reverse;
  }

  .hero-left {
    text-align: center;
  }
  .counter h3 {
    font-size: 20px;
  }
  .counter p {
    font-size: 10px;
  }
  .hero-right-counter {
    width: 100%;
  }
}
