@media (max-width: 575.98px) {
  .hero-middle {
    display: none;
  }
  .nav-middle {
    display: none;
  }
  .nav-right {
    width: 100%;
  }
  .nav-right img {
    width: 12%;
  }
  .menu {
    display: block;
    float: right;
  }
}
